@import url('https://fonts.googleapis.com/css?family=Hind');

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  color: #dee2e6;
  background-color: #212529;
  font-family: 'Hind', sans-serif;
  text-transform: uppercase;
}

.container {
  position: relative;
  line-height: 0;
}

.score {
  position: absolute;
  top: 10px;
  line-height: 1;
}

.score span {
  font-size: 3.25rem;
}

.current-score {
  left: 10px;
}

.high-score {
  text-align: right;
  right: 10px;
}

.home-button {
  position: absolute;
  top: 10px;
  left: 10px;
  color: inherit;
  text-decoration: none;
}

.start-button,
.highscore-button {
  padding: 10px 20px;
  border: 0;
  border-radius: 5px;
  color: inherit;
  background-color: #e64980;
  text-transform: inherit;
  cursor: pointer;
  margin: 10px 0;
}

.trigger {
  appearance: none;
  position: absolute;
  width: 80px;
  height: 80px;
  bottom: 10px;
  border: 0;
  border-radius: 50%;
  color: inherit;
  background-color: #e64980;
  text-align: center;
  line-height: 80px;
  font-size: 1.25rem;
  text-transform: inherit;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.left-trigger {
  left: 10px;
}

.right-trigger {
  right: 60px;
}

canvas {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75);
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
}

.game-over-content {
  text-align: center;
}

#leaderboard {
  margin-top: 1rem;
}

#leaderboard-list,
#highscore-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hidden {
  display: none;
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
  .container { transform: scale(0.25); }
}
@media (min-height: 400px) {
  .container { transform: scale(0.5); }
}
@media (min-height: 600px) {
  .container { transform: scale(0.75); }
}
@media (min-height: 800px) {
  .container { transform: scale(1); }
}
